.main {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-color: #6FA9EB #121419 ;
}

/* 📱 Телефоны */
@media (max-width: 600px) {
    .background {
        position: absolute;
        inset: 0;
          background-image: url("@/assets/font.png");
        background-size: contain;   /* картинка помещается полностью */
        background-repeat: no-repeat; /* не повторяется */
        background-position: center;  /* центр */
        z-index: -1;
    }

    .txt_English {
        margin-left: 12%;
        margin-top: 30%;
        color: #CAE9FB;

    }
    .txt_For {
        margin-top: -18%;
        margin-left: 66%;
        color: #CAE9FB;

    }
    .txt_Everyone {
        margin-left: 23%;
        margin-top: -5%;

    }

    .txt_English,
    .txt_For,
    .txt_Everyone {
        font-size: 280%;
        font-weight: 700;
        font-family: 'Red Hat Mono', monospace;
    }

    .Logo_About {
        margin-top: 0%;
        margin-left: 35%;
    }

    .buttonGroup {}

    .button {
        margin-left: 2%;
        margin-top: 4%;
        height: 40px;
        width: 95%;
        background-color: #F93D7A;
        border-radius: 5px;
    }

    .txt_button {}
}

/* 💻 ПК */
@media (min-width: 1025px) {


    .background {
        position: absolute;
        inset: 0;
        background-color:#121419;
        z-index: -1;
    }

    .txt_English {
        margin-left: 26%;
        margin-top: 10%;
        color: #CAE9FB;
        font-weight: 700;
        font-family: 'Red Hat Mono', monospace;
        font-size: 120px;
    }

    .txt_For{
        color: #CAE9FB;
        font-family: 'Red Hat Mono', monospace;

        margin-top: -9.5%;
        margin-left: 55%;
    }

    .txt_Everyone
    {
        margin-top: -3%;
        margin-left: 32%;
    }

    .Logo_About {
        margin-top: -20%;
        margin-left: 42.5%;
    }

    .button {
        width:14%;
        height: 48px;
        border-radius: 10px;
        background-color: #F93D7A;
        margin-top: 15%;
        margin-left: 40%;
    }


    .txt_button {
        font-family: 'Montserrat Alternates',monospace;
        font-size: 20px;
    }

    .txt_credit_card
    {
        margin-left: 42.4%;
        margin-top: 1.1%;
        font-size: 14px;
        font-family: 'Montserrat',monospace;
    }

    .txt_Everyone,
    .txt_For,
    .txt_Everyone {
        font-family: 'Red Hat Mono', monospace;
        font-size: 120px;
        font-weight: 700;
    }


    .txt_WHY
    {
        color:white;
        font-weight: 700;
        font-family: 'Red Hat Mono', monospace;
        font-size: 120px;
        margin-top: 10%;
    }

    .txt_CHOOSE
    {
        color: white;
        font-weight: 700;
        font-family: 'Red Hat Mono', monospace;
        font-size: 120px;
        margin-left: 20%;
        margin-top: -9.5%;
    }

    .txt_US
    {
        color: white;
        font-weight: 700;
        font-family: 'Red Hat Mono', monospace;
        font-size: 120px;
        margin-left: 50%;
        margin-top: -9.5%;
    }

}

